.App {
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
}

.pokemons {
  border: 2px solid lightblue;
  border-radius: 5px;
  box-sizing: border-box;
  display: flexbox;
  flex-direction: column;
  height: auto;
  margin: 5px;
  width: 200px;
}