.App {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

button {
  margin: 10px;
  padding: 10px;
}

body {
  background-color: lightslategrey;
}

.main-pokemon {
  align-items: center;
}

.pokemon {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex: 1 1 auto;
  min-width: 25%;
  margin: 10px 10px;
  border: 1px aquamarine solid;
  border-radius: 10px;
}

.pokedex {
  display: flex;
  flex-wrap: wrap;
  margin: 10px 10px;
}

.title {
  text-align: center;
  width: 100%;
}