.App {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

body {
  background-color: rgb(143, 110, 110);
}

.pokemon {
  border: 2px solid rgb(187, 219, 230);
  border-radius: 5px;
  box-sizing: border-box;
  flex-direction: column;
  height: auto;
  margin: 5px;
  text-align: center;
  width: 200px;
}

.title {
  text-align: center;
  width: 100%;
}